
@{
    ViewBag.Title = "ToDoList";
    Layout = "~/Views/Shared/_WriterLayout.cshtml";
}

<h2>ToDoList</h2>
<p>Profilim</p>
<p>Tüm başlıklarda pagin</p>
<p>mesajlarda Session</p>
<p>oturum yönetiminin mimariye taşınması</p>
<p>token kullanımı</p>
