
@{
    Layout = null;
}


<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<h3>MVC KAMP TABLO ÖRNEĞİ</h3>
<br />

<table class="table-hover">
    <tr>
        <th>ID</th>
        <th>ADI</th>
        <th>Açıklama</th>
        <th>Durum</th>
        <th>Güncelle</th>
    </tr>

    <tr>
        <td>1</td>
        <td>Eğitim</td>
        <td>açıklama yaptık </td>
        <td>True</td>
        <td><button class="btn btn-success">Güncelle</button></td>


    </tr>

    <tr>
        <td>2</td>
        <td>Spor</td>
        <td>açıklama yaptık </td>
        <td>True</td>
        <td><button class="btn btn-success">Güncelle</button></td>
    </tr>

    <tr>
        <td>3</td>
        <td>Kitap</td>
        <td>açıklama yaptık </td>
        <td>True</td>
        <td><button class="btn btn-success">Güncelle</button></td>

    </tr>

    <tr>
        <td>4</td>
        <td>Sinema</td>
        <td>açıklama yaptık </td>
        <td>True</td>
        <td><button class="btn btn-success">Güncelle</button></td>

    </tr>


</table>

<button class="btn-info">YENİ Kategöri</button>
<button class="btn-warning">Kategöri Listesi</button>
<button class="btn-danger">Kategöri Açıklamaları</button>
